{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Олимпиада РИНХ</title>
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-sm-12 mt-5">
					<img src="static/img/logo1.png" alt="logo1" class="img-fluid">
				</div>
			</div>
			<div class="row align-items-center mb-3">
				<div class="col-lg-5 col-sm-12">
					<h2>Международная <br> научно-практическая <br> онлайн-олимпиада</h2>
				</div>
				<div class="col-lg-7 col-sm-12 mb-sm-5 mt-sm-5">
					<img src="static/img/image2.png" alt="image2" class="img-fluid">
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<a href="register" class="btn btn-header btn-lg mb-5">Принять участие</a>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg-5 col-sm-12 ">
					<h5>Место проведения онлайн-олимпиады:</h5>
				</div>
				<div class="col-lg-7 col-sm-12 ">
					<h6>Ростовский государственный экономический университет (РИНХ), Точка кипения РГЭУ (РИНХ) <br> г. Ростов-на-Дону, ул. Б. Садовая, 69</h6>
				</div>
			</div>
		</div>
	</header>
	<section class="foot">
		<div class="container">
			<div class="row">
				<div class="col mt-5 up-row">
					<h4>Соорганизаторы:</h4>
				</div>
				<div class="col mt-5">
					<h4> при поддержке</h4>
				</div>
				<div class="row down-row">
				<div class="col">
					<h6>Ростовский государственный экономический университет (РИНХ)</h6>
				</div>
				<div class="col">
					<h6>Федеральная служба по финансовому мониторингу</h6>
				</div>
				<div class="col">
					<h6>Международный учебно-методический центр финансового мониторинга</h6>
				</div>
				<div class="col">
					<h6>Международный сетевой институт в сфере ПОД/ФТ</h6>
				</div>
				<div class="col">
					<h6>Ростовское региональное отделение Вольного экономического общества России</h6>
				</div>
				<div class="col">
					<h6>Аппарата полномочного представителя Президента РФ в Южном федеральном округе</h6>
				</div>
				<div class="col">
					<h6>Правительства Ростовской области</h6>
				</div>
				</div>
			</div>
		</div>
	</section>

	<section class="etap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="mt-5 mb-5"> Олимпиада включает два этапа, проводимые в заочной форме с применением дистанционных образовательных технологий:</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<h5>Первый этап представляет собой отборочный тур и предполагает выполнение индивидуальных тестовых заданий. Все участники первого этапа Олимпиады получают Сертификат установленного образца.</h5>
				</div>
				<div class="col-lg-6 col-sm-12">
					<h5>Второй этап к участию допускаются участники Первого этапа Олимпиады, набравшие наибольшее количество баллов. Второй этап предполагает выполнение индивидуальных тестовых заданий повышенного уровня сложности и решение кейс-задания.</h5>
				</div>
			</div>
			<div class="row justify-content-end mt-5">
				<div class="col-lg-3 col-sm-12">
					<h5>Победители Второго этапа Олимпиады получают Дипломы Победителей (1-е, 2-е и 3-е место).</h5>
				</div>
				<div class="col-lg-3 col-sm-12">
					<h5>Участники, набравшие наибольшее количество баллов после победителей, получают Дипломы Лауреатов.</h5>
				</div>
			</div>
		</div>
	</section>

	<section class="celi">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center mt-5 mb-5">
					<h1>Цели</h1>
				</div>
			</div>
			<div class="d-flex justify-content-center">
			 <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Творческие способности</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Одаренные дети</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Научные знания</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Профессиональная ориентация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Талантливая молодеж</a>
                </li>
            </ul>
        </div>
    </nav>
				</div>

			<div class="row justify-content-center">
				<div class="col-md-6 col-sm-12 box-1 mb-5 mt-5 ">
					<img src="static/img/logo_box.png" alt="logo_box" class="logo-box">
					<h4>Творческие способности</h4>
					<h5>Выявление и развитие у учащихся, осваивающих общеобразовательные программы основного общего и среднего общего образования, творческих способностей и интереса к научно-исследовательской деятельности</h5>
				</div>				
			</div>
			
		</div>
		
	</section>

	<section class="comitet">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center mt-5 mb-5">
					<h1>Программный комитет олимпиады</h1>
				</div>
			</div>
			<div class="row text-center comitet-img">
				<div class="col-md-3 col-sm-12">
					<img src="static/img/comitet-1.png" alt="">
					<h5>Боев Василий Юрьевич</h5>
					<p>проректор по учебной работе РГЭУ (РИНХ), заведующий кафедрой экономики региона, отраслей и предприятий РГЭУ (РИНХ), к.э.н., доцент.</p>
				</div>
				<div class="col-md-3 col-sm-12">
					<img src="static/img/comitet-2.png" alt="">
					<h5>Жебровская Людмила Анатольевна</h5>
					<p>начальник Управления компьютеризации учебной и административной деятельности РГЭУ (РИНХ), к.э.н., доцент</p>
				</div>
				<div class="col-md-3 col-sm-12">
					<img src="static/img/comitet-3.png" alt="">
					<h5>Молчанов Евгений Григорьевич</h5>
					<p>декан факультета Экономики и финансов РГЭУ (РИНХ), к.э.н.</p>
				</div>
				<div class="col-md-3 col-sm-12">
					<img src="static/img/comitet-4.png" alt="">
					<h5>Андреева Ольга Валентиновна</h5>
					<p>руководитель Центра стратегических исследований социально-экономического развития Юга России</p>
				</div>

			</div>
			<div class="row text-center comitet-img mt-5">
				<div class="col-md-3 col-sm-12">
					<img src="static/img/comitet-5.png" alt="">
					<h5>Романова Татьяна Федоровна</h5>
					<p>заведующий кафедрой финансов РГЭУ (РИНХ), д.э.н., профессор</p>
				</div>
				<div class="col-md-3 col-sm-12">
					<img src="static/img/comitet-6.png" alt="">
					<h5>Семенюта Ольга Гетовна</h5>
					<p>заведующий кафедрой банковского дела РГЭУ (РИНХ), д.э.н., профессор</p>
				</div>
				<div class="col-md-3 col-sm-12">
					<img src="static/img/comitet-7.png" alt="">
					<h5>Медведкина Евгения Александровна</h5>
					<p>заведующий кафедрой мировой экономики РГЭУ (РИНХ), д.э.н., доцент</p>
				</div>
				<div class="col-md-3 col-sm-12">
					<img src="static/img/comitet-8.png" alt="">
					<h5>Мусаелян Анжелика Капреловна</h5>
					<p>заведующий кафедрой налогов и налогообложения РГЭУ (РИНХ), к.э.н., доцент</p>
				</div>

			</div>
		</div>
	</section>
	<section class="galery">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center mt-5 mb-5">
					<h1>Фотогалерея</h1>
				</div>
			</div>			
			
		</div>
	</section>
<div class="container-fluid p-0 fotki">
<div class="row no-gutters gx-0 row-cols-1 row-cols-md-3 row-cols-lg-5">
				<div class="col">
					<img src="static/img/galery-1.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-2.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-3.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-2.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-3.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-1.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-2.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-3.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-2.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-3.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-1.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-2.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-3.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-2.png" alt="" class="img-fluid">
				</div>
				<div class="col">
					<img src="static/img/galery-3.png" alt="" class="img-fluid">
				</div>
			</div>
</div>


	<section class="contacts">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center mt-5 mb-5">
					<h1>Контакты</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="row">
				<div class="col-lg-8 left-col">
					<h4 class="text-center">
					г. Ростов-на-Дону, ул. Б. Садовая, 69</h4>
					<h5 class="text-center">Ростовский государственный экономический университет (РИНХ)</h5>
					<h6 class="text-center">Точка кипения РГЭУ (РИНХ)</h6>
				</div>
				<div class="col-lg-4 right-col justify-content-end">
					<h4 class="text-center">+7 (863) 345-40-40</h4>
					<h6 class="text-center">fnauka@bk.ru</h6>
				</div>
			</div>
				<div class="row">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.6906201118627!2d39.71287349221469!3d47.222635540052366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b90c87a7937b%3A0xb6dbd75beb77290!2z0JHQvtC70YzRiNCw0Y8g0KHQsNC00L7QstCw0Y8g0YPQuy4sIDY5LCDQoNC-0YHRgtC-0LIt0L3QsC3QlNC-0L3Rgywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMzQ0MDAy!5e0!3m2!1sru!2sru!4v1691785067321!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>