{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Олимпиада РИНХ</title>
</head>
<body>

<section class="reg-page">
		<div class="container">
		<div class="row">
				<div class="col-lg-7 col-sm-12 mt-5 mb-5">
					<img src="static/img/logo1.png" alt="logo1" class="img-fluid">
				</div>
			</div>
		<div class="row register mb-5">
			<h1>Регистрация участия</h1>
		</div>
<form method="post" action="{% url 'register' %}" class="form-container">
    {% csrf_token %}
     <div class="row mb-3 mt-5 align-items-center">
    <label for="{{ form.fio.id_for_label }}" class="col-sm-2 col-form-label">{{ form.fio.label }}</label>
    <div class="col-sm-8 ">
      {{ form.fio }}
    </div>
  </div>
         <div class="row mb-3 align-items-center">
    <label for="{{ form.university.id_for_label }}" class="col-sm-2 col-form-label">{{ form.university.label }}</label>
    <div class="col-sm-8 ">
      {{ form.university }}
    </div>
  </div>
         <div class="row mb-3 align-items-center">
    <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">{{form.email.label}}</label>
    <div class="col-sm-8 ">
      {{ form.email }}
    </div>
  </div>
         <div class="row mb-3 align-items-center">
    <label for="{{ form.phone_number.id_for_label }}" class="col-sm-2 col-form-label">{{ form.phone_number.label }}</label>
    <div class="col-sm-8 ">
      {{ form.phone_number }}
    </div>
  </div>
    <button type="submit" class="btn btn-reg btn-lg mt-5">Зарегистрироваться</button>
</form>

</section>
</body>
</html>